{% extends 'base.html' %}

{% block title %}Ürün Ekle{% endblock %}

{% block content %}
<div class="card">
    <h2>Yeni Ürün Ekle</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Ürün Adı:</label>
        <input type="text" id="name" name="name" required {% if not request.session.is_logged_in %}disabled{% endif %}>

        <label for="barcode">Barkod:</label>
        <input type="text" id="barcode" name="barcode" required {% if not request.session.is_logged_in %}disabled{% endif %}>

        <label for="purchase_price">Alış Fiyatı:</label>
        <input type="number" id="purchase_price" name="purchase_price" step="0.01" required {% if not request.session.is_logged_in %}disabled{% endif %}>

        <label for="selling_price">Satış Fiyatı:</label>
        <input type="number" id="selling_price" name="selling_price" step="0.01" required {% if not request.session.is_logged_in %}disabled{% endif %}>

        <label for="commution">Komisyon:</label>
        <input type="number" id="commution" name="commution" step="0.01" required {% if not request.session.is_logged_in %}disabled{% endif %}>

        <label for="stock">Stok Miktarı:</label>
        <input type="number" id="stock" name="stock" required {% if not request.session.is_logged_in %}disabled{% endif %}>

        <label for="image_url">Resim URL:</label>
        <input type="text" id="image_url" name="image_url" {% if not request.session.is_logged_in %}disabled{% endif %}>

        <button type="submit" class="btn" {% if not request.session.is_logged_in %}disabled{% endif %}>Ürün Ekle</button>
    </form>
</div>
{% endblock %}